.Side_bar
  .User-name
    .User-name__side-box
      %p.left
        = current_user.name
      %p.right 
        = link_to new_group_path, class: "right__btn" do
          =icon('far', 'edit', class: "right__btn--icon")
        = link_to edit_user_path(current_user), class: "right__btn" do
          =icon('fa', 'cog', class: "right__btn--tool")
  .Group-list
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message